<%- include("layout/header") %>
<nav class="navbar navbar-expand navbar-light sticky-top bg-light shadow-sm border-bottom">
    <h3>BC Trier Planer</h3>
</nav>
<div class="container mt-5">
    <div class="card text-center">
        <div class="card-header">
            Passwort eingeben
        </div>
        <div class="card-body">
            <form name="loginForm" action="/login" method="post">
                <input type="hidden" name="unused" value="sdsdd" />
                <div class="form-group row align-center">
                    <label for="passwordInput" class="col-sm-2">Passwort</label>
                    <div class="col-sm-10">
                        <input type="password" class="form-control" id="passwordInput" name="password" />
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">Login</button>
                <span id="submitResult"></span>
            </form>
        </div>
    </div>
</div>
<%- include("layout/footer") %>